body {
    margin: 0;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
   
}

h1, h2 {
    font-size: 3rem;
    color: #ff6347;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button, .name-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ff6347;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover, .name-button:hover {
    background-color: #ff4500;
}

.input-container {
    text-align: center;
    margin-top: 20px;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff6347;
    animation: confettiAnimation 3s infinite;
}

.confetti:nth-child(2) {
    background-color: #ffcc00;
}

.confetti:nth-child(3) {
    background-color: #32cd32;
}

.confetti:nth-child(4) {
    background-color: #00bfff;
}

@keyframes confettiAnimation {
    0% { transform: translateY(0) rotate(0); opacity: 1; }
    100% { transform: translateY(100vh) rotate(720deg); opacity: 0; }
}

.confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* Heart Animation */
.heart {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-45deg);
    animation: heartBeat 1.5s ease-in-out infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.heart:before {
    left: 50px;
    top: 0;
}

.heart:after {
    top: 50px;
    left: 0;
}

@keyframes heartBeat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}